{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Add a New Item {% endblock %}</h1>
    <form method="post">
        <label for="equiptype">Equipment Type</label>
        <input type="text" name="equiptype"
               placeholder="Equipment Type"
               value="{{ request.form['equiptype'] }}"></input>

	<br>
        <label for="model">Equipment Model Name</label>
        <input type="text" name="model"
               placeholder="Equipment Model"
               value="{{ request.form['model'] }}"></input>

	<br>
        <label for="sn">Equipment Serial Number</label>
        <input type="text" name="sn"
               placeholder="serial number"
               value="{{ request.form['sn'] }}"></input>

	<br>
        <label for="cal">Equipment Calibration Next Due Date</label>
        <input type="date" name="cal"
               value="{{ request.form['cal'] }}"></input>

	<br>
        <label for="status">Equipment Status</label>
        <input type="text" name="status"
               placeholder="Stored, checkout, out of cal, broken"
               value="{{ request.form['status'] }}"></input>

	<br>
        <label for="description">Equipment Description</label>
        <label for="description"></label>
        <br>
        <textarea name="description"
                  placeholder="Equipment Description"
                  rows="15"
                  cols="60"
                  >{{ request.form['description'] }}</textarea>
        <br>
        <button type="submit">Submit</button>
    </form>
{% endblock %}


