{% extends 'base.html' %}

{% block content %}
    <table>
        <tr>
            <th>Equipment Type</th>
            <th>Model</th>
            <th>Serial Number</th>
            <th>Calibration Due Date</th>
            <th>Status</th>
            <th>Description</th>
        </tr>
        {% for item in items %}
        <tr>
	    <td><a href="{{ url_for('edit', id=item['id']) }}">
                {{ item['equipment_type'] }}</td></a>
            <td>{{ item['model'] }}</td>
            <td>{{ item['serial_number'] }}</td>
            <td>{{ item['calibration_due_date'] }}</td>
            <td>{{ item['status'] }}</td>
            <td>{{ item['description'] }}</td>
        </tr>
       {% endfor %}
    </table>
{% endblock %}

